<footer class="container-fluid pt-4 bt-4">
    <div class="row">
        <div class="col">
            <p class="text-center">
                    © 2018 - Alle Rechten Voorbehouden - VZW The Incredible DiscCatchers<br>
                    In samenwerking met Helena De Smedt en Arteveldehogeschool<br>
                    Academiejaar 2017 - 2018
            </p>
        </div>
    </div>

    <img class="d-block mx-auto" src="{{ "logo_arteveldehogeschool.png" | absolute_url }}" width="100px">
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>