
.client-style {
  font-family: khula;
  $color: black;
  border-bottom: 1px solid $color-grey-2;
  border-top: 1px solid $color-grey-2;
  margin: 1em 0 2em;

  h1, h2, h3, h4, h5, h6 {
    font-family: bungee;
  }

  a {
    color: $clientcolor-5;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
  
}