/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}

body {

  background-color: #F2F2F2;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color:#313C58;
    color: $color-white;
    a {
        color: $color-white;


/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}


/* BOLLEN KLEUREN*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

button{
  background-color: none;
}

.btn-HEG {
  background-color: #F7DD0D;
}

.btn-HEB {
  background-color: #313C58;
}

.btn-B {
  background-color: black;
}

.btn-W {
  background-color: white;
}

.btn-G1 {
  background-color: #F8F8F8;
}

.btn-G2 {
  background-color: #E8E8E8;
}

.btn-G3 {
  background-color: #BFBFBF;
}


/* BOLLEN KLEUREN*/

h4 {
  color: rgb(241, 221, 63);
}

.imgHome {
  margin-right: 30px;
}


}}