 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }
    
     .nav-item:hover{
        
        border-bottom: 3px solid #F7DD0D;
        height: 35px;
    }

 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    .nav {
        display: block;
    }
    a{
        color: #313C58;
        border-bottom: none;
    }

    a:hover{
        /*text-decoration-line: underline;
        text-decoration-color: #F7DD0D;*/
        border-bottom: 3px solid #F7DD0D;
    }

    a:active{
        background-color: #F2F2F2;
    }

 }
 




 